<section class="contacts-container">
    <section class="contacts">
        <hr class="common-hr">
        <div class="heading">
            <i class="fas fa-id-card-alt"></i>
            <h4>Kонтакти:</h4>
        </div>
        <ul>
            <li>
                <i class="fas fa-map-marker-alt"></i>
                <section class="text-location">
                    <p>ул."Константин Величков"3</p>
                    <p>гр. Русе</p>
                </section>
            </li>
            <li>
                <i class="fas fa-mobile-alt"></i>
                <section class="text-location">
                    <p>+359 888 411 957</p>
                    <p>+359 899 975 533</p>
                </section>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <p>swet_m@abv.bg</p>
            </li>
        </ul>
    </section>
    <section class="contacts-text">
        <hr class="common-hr">
        <p id="text">Ако желаете да си запазите час за консултация на място в офиса, безплатна правна онлайн консултация или просто имате запитване, се свържете с мен на посочените телефони или имейл. Ако нямате тази възможност може да използвате и формата по-долу
            за безплатна онлайн консултация като опишете проблема и поставете ясни и конкретни въпроси във формата. Отговор ще получите във възможно най-кратък срок на посоченият от Вас имейл. Бъдете сигурни, че Вашият казус ще бъде разгледан и ще Ви
            бъдат предложени всички възможности за решаване на проблема.</p>
    </section>
    <section clas="form-container">
        <form action="http://formspree.io/g_cirkova@mail.bg" method="POST">
            <hr>
            <div class="heading">
                <h3>Форма за запитване</h3>
            </div>
            <fieldset>
                <p>
                    <p for="first-name">Име:</p>
                    <div class="field-input">
                        <i class="fas fa-user"></i>
                        <input type="text" name="name" id="first-name" placeholder="Име">
                    </div>
                </p>
                <p>
                    <p for="last-name">Фамилия:</p>
                    <div class="field-input">
                        <i class="fas fa-user"></i>
                        <input type="text" name="last-name" id="last-name" placeholder="Фамилия" required>
                    </div>
                </p>
                <p>
                    <p for="email">Имейл:</p>
                    <div class="field-input">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="_replyto" id="email" placeholder="Имейл" required>
                    </div>
                </p>
                <p class="text-area-par">
                    <textarea name="body" form="quiestion" rows="10" cols="20" placeholder="Въпрос..." required></textarea>
                </p>
                <input type="submit" value="ИЗПРАТИ">
            </fieldset>
        </form>
        <section class="working-time">
            <hr>
            <h3>Работно време</h3>
            <p class="date-hours">
                <span>Понеделник</span>
                <span>09:00ч. - 17:30ч.</span>
            </p>
            <p class="date-hours">
                <span>Вторник</span>
                <span>09:00ч. - 17:30ч.</span>
            </p>
            <p class="date-hours">
                <span>Сряда</span>
                <span>09:00ч. - 17:30ч.</span>
            </p>
            <p class="date-hours">
                <span>Четвъртък</span>
                <span>09:00ч. - 17:30ч.</span>
            </p>
            <p class="date-hours">
                <span>Петък</span>
                <span>09:00ч. - 17:30ч.</span>
            </p>
            <p class="date-hours">
                <span>Събота</span>
                <span>Затворено</span>
            </p>
            <p class="date-hours">
                <span>Неделя</span>
                <span>Затворено</span>
            </p>
        </section>
    </section>
    <section class="or">
        <h3>...или заповядайте на място! Адресът е гр. Русе, ул. "Константин Величков" №3.</h3>
        <i class="fas fa-chevron-circle-down"></i>
    </section>
    <section class="map-responsive">
        <iframe src="https://www.google.com/maps/d/embed?mid=1TGDV6Bh54TqsZ_mK9rNvNbFPQWEmTo0v" width="1024" height="576"></iframe>
    </section>
</section>