<section class="main-footer">
    <section class="location">
        <ul>МОЯТА ЛОКАЦИЯ
            <li>
                <i class="fas fa-home"></i>
                <section class="text-location">
                    <p>ул."Константин Величков" №3</p>
                    <p>гр. Русе</p>
                </section>
            </li>
            <li>
                <i class="fas fa-phone-square"></i>
                <section class="text-location">
                    <p>+359 888 411 957</p>
                    <p>+359 899 975 533</p>
                </section>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <p>swet_m@abv.bg</p>
            </li>
            <li>
                <i class="fas fa-globe-europe"></i>
                <p>advokat-svetlomirivanov.com</p>
            </li>
        </ul>
    </section>
    <section class="navigation">
        <ul>НАВИГАЦИЯ {% include navigation.html %}
        </ul>
    </section>
    <section class="follow-me">
        <ul>ПОСЛЕДВАЙТЕ МЕ
            <li>
                <a href="https://twitter.com">
                    <i class="fab fa-twitter-square"></i>
                    <p>TWITTER</p>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com">
                    <i class="fab fa-facebook-square"></i>
                    <p>FACEBOOK</p>
                </a>
            </li>
        </ul>
    </section>
</section>
<section class="creator">&copy; 1900-2019 proudly created by Gergana Tsirkova All Rights Reserved</section>