<section class="main-footer">
    <section class="location">
        <ul>МОЯТА ЛОКАЦИЯ
            <li>
                <i class="fas fa-home"></i>
                <section class="text-location">
                    <p>ул."Константин Величков" №3</p>
                    <p>гр. Русе</p>
                </section>
            </li>
            <li>
                <i class="fas fa-phone-square"></i>
                <section class="text-location">
                    <p><a href="tel:00359888411957">+359 888 411 957</a></p>
                    <p><a href="tel:00359899975533">+359 899 975 533</a></p>
                </section>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <p>swet_m@abv.bg</p>
            </li>
            <li>
                <i class="fas fa-globe-europe"></i>
                <p>www.advokativanov.com</p>
            </li>
        </ul>
    </section>
    <section class="navigation">
        <ul>НАВИГАЦИЯ {% include navigation.html %}
        </ul>
    </section>
    <section class="follow-me">
        <ul>ЛИНКОВЕ
            <li>
                <a href="https://pngtree.com/free-backgrounds" target="_blank">free background photos from pngtree.com</a>
            </li>
            <li>
                <a href="http://www.seekgif.com/free-image/law-background-1231.html" target="_blank" class="last-link">law background</a>
            </li>
            ПОЛИТИКА НА САЙТА
            <li>
                <a href="{{ site.url }}/general-items/" class="first-link">Общи условия</a>
            </li>
            <li>
                <a href="{{ site.url }}/privacy-policy/">Политика за поверителност</a>
            </li>
        </ul>
    </section>
</section>
<section class="creator">&copy; 1900-2019 proudly created by Gergana Tsirkova</section>