<section class="top" id="top">
    <section class="left">
        <section class="icon">
            <i class="fas fa-balance-scale"></i>
        </section>
        <section class="presentation">
            <p>Адвокатска кантора</p>
            <h1><a href="{{ site.baseurl }}/">Светломир Иванов</a></h1>
        </section>
    </section>
    <section class="right">
        <section class="icon-phone">
            <i class="fas fa-phone-square"></i>
        </section>
        <section class="content-phone">
            <p>Обадете се сега!</p>
            <p>+359 888 411 957</p>
        </section>
    </section>
</section>
<section class="site-image-container-other" style="background: url('{{ site.baseurl }}/images/img2.jpg') bottom center no-repeat; background-size: cover">
    <section class="navigation">
        <nav id="nav" class="nav">
            <ul clas="menu" id="menu">
                {% include navigation.html %}
            </ul>
        </nav>
    </section>
</section>