<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script type="text/javascript" src="{{ site.baseurl }}/javascripts/jquery.js"></script>
<link rel="stylesheet " href="{{ site.baseurl }}/css/style.css ">
<title>{{ page.title }}</title>
<link rel="icon " type="image/jpg " href="{{ site.baseurl }}/images/scales " />
<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg4tHYfTRfsu_UKNfte4CpWRFuGnxFS4I&callback=initMap " language="javascript "></script>
<script type="text/javascript" src="{{ site.baseurl }}/javascripts/main.js"></script>