<section class="prices">
    <hr class="common-hr">
    <div class="heading">
        <i class="fas fa-coins"></i>
        <h4>Тарифи</h4>
    </div>
    <p class="text" style="text-indent:5%; line-height: 1.5">Цените на Адвокатска кантора - Светломир Иванов за правни устни и писмени консултации, участие в преговори, снабдяване с документи, изготвяне на договори и процесуално представителство по дела пред български съдилища се определят съобразно правната
        сложност на всеки отделен случай и обема на възложената работа. Стремежът е да се постигне взаимно приемлив размер на адвокатския хонорар, като се предлагат и възможности за плащане на части. Следва да се отбележи, че цените на адвокатските услуги
        не могат да бъдат в размер по-нисък от определения в <a class="link" target="_blank" rel="noopener noreferrer" href="http://www.pravnicalculatori.eu/Naredba.html">НАРЕДБА № 1 ОТ 9 ЮЛИ 2004 Г. ЗА МИНИМАЛНИТЕ РАЗМЕРИ НА
            АДВОКАТСКИТЕ ВЪЗНАГРАЖДЕНИЯ</a>, издадена от Висшия адвокатски съвет Обн. ДВ. бр.64 от 23 Юли 2004г., изм. ДВ. бр.2 от 9 Януари 2009г., изм. ДВ. бр.43 от 8 Юни 2010г., изм. и доп. ДВ. бр.28 от 28 Март 2014г., изм. ДВ. бр.10 от 5 Февруари 2016г.,
        изм. и доп. ДВ. бр.84 от 25 Октомври 2016г., изм. ДВ. бр.41 от 23 Май 2017г..
    </p>
    <p class="text" style="text-indent:5%; line-height: 1.5">Консултацията в кантората се заплаща в зависимост от нейната продължителност.</p>
</section>