<section class="law-content">
    <section class="heading-main">
        <h3>Застрахователно право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Свеломир Иванов предлага следните правни услуги в областта на застрахователното правно:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Правно представителство и защита в случай на причинена вреда от Ваша страна;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Правно представителство и защита при отказ на застраховател да изплати обезщетение;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Разясняване на условията по лични застраховки и организиране на доброволно уреждане на спора между застрахователя и застрахования;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Точна предварителна оценка на шансовете за получаване на застрахователно обезщетение;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Правна защита и съдействия при участие в ПТП, относно действията на контролните органи;
        </li>
    </ul>
    <a class="button" href="{{ site.baseurl }}/services/">Назад към услуги</a>
</section>