<section class="law-content">
    <section class="heading-main">
        <h3>Семейно право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Свеломир Иванов предлага правни услуги в областта на семейното правно консултиране и процесуално представителство при:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Дела за родителски права;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Дела свързани с домашно насилие;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Развод по взаимно съгласие;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Развод по общ исков ред;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Подялба на семейно имущество след развод;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Упражняване на родителските права;</p>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Вещноправни искове за собственост след развода;</p>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Режим на лични отношения между родители и деца;</p>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Ограничаване и лишаване от родителски права в предвидените от закона случаи;</p>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Установяване или оспорване на произход от дете – оспорване на бащинство, припознаване, предявяване на искове за установяване на произход от бащата;</p>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Дела за увеличаване на първоначално присъдена издръжка и др. дела в областта на семейното право;</p>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Пълно и непълно осиновяване;</p>
        </li>
    </ul>
    <section>
        <a class="button" href="{{ baseurl }}/services/">Назад към услуги</a>
    </section>
</section>