<section class="law-content">
    <section class="heading-main">
        <h3>Вещно право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Светломир Иванов предлага правни услуги в областта на вещното правно консултиране и представителство при:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Подготовка на необходимите документи за прехвърляне на недвижим имот;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Проверка за тежести на имоти;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Изготвяне на договори при доброволна делба;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Процесуално представителство пред съд в случаи на атакуване на сделка с недвижим имот;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Изготвяне на завещания;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Приемане и отказ от наследство;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Изготвяне на нотариални актове при всякакъв вид сделки с недвижими имоти;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Учредяване на ипотека;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Делба;
        </li>
    </ul>
    <a class="button" href="{{ site.baseurl }}/services/">Назад към услуги</a>
</section>