<section class="law-content">
    <section class="heading-main">
        <h3>Гражданско право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Светломир Иванов предлага правни услуги в областта на гражданското правно консултиране и процесуално представителство при:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i> Процесуално представителство и защита при съдебно-изпълнително производство;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Правни консултации и процесуално представителство и защита по гражданско правни въпроси;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Консултации и оказване на правно съдействие на чуждестранни граждани във връзка с придобиването на българско гражданство, легализиране на пребиваването им и статута на чужденците на територията на Република България, осигуряване на визи и
                разрешения за временно или постоянно пребиваване в страната;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Защита в съдебно съдебно-изпълнително производство</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Оказване на правна помощ при събирането на вземания и посредничество при сключването на извънсъдебни споразумения;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Правна помощ и защита на лица потърпевши от извършване на престъпление;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Медиация;
        </li>
    </ul>
    <a class="button" href="{{ site.baseurl }}/services/">Назад към услуги</a>
</section>