<section class="law-content">
    <section class="heading-main">
        <h3>Административно право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Светломир Иванов предлага правни услуги в областта на административното правно консултиране и административно процесуално представителство при:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Представителство пред държавни и общински органи;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Представителство при получаване на разрешителни и лицензии;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Обжалване на административни актове;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Обжалване на наказателни постановления;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Обжалване на ревизионни актове;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Защита срещу незаконосъобразни действия на държавни и общински органи;
        </li>
    </ul>
    <a class="button" href="{{ site.url }}/services/">Назад към услуги</a>
</section>