<section class="law-content">
    <section class="heading-main">
        <h3>Наказателно право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Свеломир Иванов предлага правни услуги в областта на наказателното правно консултиране и процесуално представителство при:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Обжалване на наказателни постановления по административен и съдебен ред;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Правни консултации и процесуално представителство и защита по наказателни дела;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Правни консултации и процесуално представителство и защита при задържане от органите на досъдебното производство;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Правна помощ и защита при повдигнато обвинение за извършено престъпление;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Процесуално представителство и защита при наложена мярка за неотклонение, осигуряване на преводач при нужда;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Правна помощ и защита на лица потърпевши от извършване на престъпление;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Изготвяне на жалби и граждански искове свързани с наказателното право;</p>
        </li>
    </ul>
    <section>
        <a class="button" href="{{ baseurl }}/services/">Назад към услуги</a>
    </section>
</section>