<section class="law-content">
    <section class="heading-main">
        <h3>Финансово право</h3>
    </section>
    <section class="heading-small">
        <h6>В сферата на данъчното право, адвокатска кантора Свеломир Иванов предлага следните правни услуги:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Консултация и представителство при финансови операции и сделки;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Съдействие при лицензиране на финансови организации;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Консултации и подготовка на договори, свързани с ипотечни и потребителски кредити;</P>
        </li>
    </ul>
    <section>
        <a class="button" href="{{ baseurl }}/services/">Назад към услуги</a>
    </section>
</section>