<section class="law-content">
    <section class="heading-main">
        <h3>Вещно право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Свеломир Иванов предлага правни услуги в областта на вещното правно консултиране и представителство при:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Набавяне на необходимите документи за прехвърляне на недвижим имот;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Проверка за тежести на имоти;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Изготвяне на договори при доброволна делба;</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Процесуално представителство пред съд в случаи на атакуване на сделка с недвижим имот</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Изготвяне на завещания</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Приемане и отказ от наследство</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>Изготвяне на нотариални актове при всякъв вид сделки с недвижими имоти</P>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <P>учредяване на ипотека</P>
        </li>
    </ul>
    <section>
        <a class="button" href="{{ baseurl }}/services/">Назад към услуги</a>
    </section>
</section>