<section class="law-content">
    <section class="heading-main">
        <h3>Търговско и банково право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Свеломир Иванов предлага правни услуги в областта на търговското и банковото правно консултиране и представителство при:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Регистрация на фирми - ЕТ, ООД, ЕООД, АД;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Обслужване на фирми;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Промяна и прекратяване на търговски дружества;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Изготвяне на всякакъв договори необходими за работата на една фирма;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Консултация относно търговски сделки;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Изготвяне на арбитражни клаузи в търговски договори;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Договаряне на арбитражни споразумения;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Защита пред арбитраж;
        </li>
    </ul>
    <a class="button" href="{{ site.baseurl }}/services/">Назад към услуги</a>
</section>