<section class="law-content">
    <section class="heading-main">
        <h3>Семейно право</h3>
    </section>
    <section class="heading-small">
        <h6>Адвокатска кантора Свеломир Иванов предлага правни услуги в областта на семейното правно консултиране и процесуално представителство при:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Дела за родителски права;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Дела свързани с домашно насилие;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Развод по взаимно съгласие;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Развод по общ исков ред;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Подялба на семейно имущество след развод;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Упражняване на родителските права;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Вещноправни искове за собственост след развода;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Режим на лични отношения между родители и деца;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>
            <p>Ограничаване и лишаване от родителски права в предвидените от закона случаи;</p>
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Установяване или оспорване на произход от дете – оспорване на бащинство, припознаване, предявяване на искове за установяване на произход от бащата;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Дела за увеличаване на първоначално присъдена издръжка и др. дела в областта на семейното право;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Пълно и непълно осиновяване;
        </li>
    </ul>
    <a class="button" href="{{ site.baseurl }}/services/">Назад към услуги</a>
</section>