<section class="law-content">
    <section class="heading-main">
        <h3>Данъчно право</h3>
    </section>
    <section class="heading-small">
        <h6>В сферата на данъчното право, адвокатска кантора Свеломир Иванов предлага следните правни услуги:</h6>
    </section>
    <ul>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Данъчни консултации;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Представителство пред данъчните институции и органи;
        </li>
        <li class="sub-service">
            <i class="fas fa-hand-point-right"></i>Избягване на двойно данъчно облагане;
        </li>
    </ul>
    <a class="button" href="{{ site.baseurl }}/services/">Назад към услуги</a>
</section>