<section class="services-head">
    <hr class="common-hr">
    <div class="heading">
        <i class="fas fa-cogs"></i>
        <h4>Услуги</h4>
    </div>
    <p>Адвокат Свтломир Иванов предоставя правни услуги - консултации и процесуално представителство на български и чужди граждани, както и на юридически лица за защита на техните права и законни интереси пред всички държавни органи в Република България,
        включително и пред всички съдилища - районни, окръжни и апелативни съдилища, ВКС и ВАС и във всички съдебни райони на Република България в следните области:
    </p>
    <hr class="common-hr">
</section>
<section class="services-main">
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img1.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Семейно право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-family-law/">Повече...</a>
        </section>
    </div>
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img2.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Наказателно право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-criminal-law/">Повече...</a>
        </section>
    </div>
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img3.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Гражданско право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-citizen-law/">Повече...</a>
        </section>
    </div>
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img4.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Административно право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-administrative-law/">Повече...</a>
        </section>
    </div>
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img5.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Вещно право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-property-law/">Повече...</a>
        </section>
    </div>
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img6.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Tърговско и банково право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-trade-law/">Повече...</a>
        </section>
    </div>
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img7.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Застрахователно право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-insurance-law/">Повече...</a>
        </section>
    </div>
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img8.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Данъчно право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-tax-law/">Повече...</a>
        </section>
    </div>
    <div class="service">
        <section class="service-img-container image-hover img-inner-shadow">
            <img src="{{ baseurl }}/images/services/img9.jpg" alt="image">
            <div class="layer"></div>
        </section>
        <section class="service-text">
            <h6>Финансово право</h6>
        </section>
        <section class="service-btn">
            <a href="{{ baseurl }}/services/service-finance-law/">Повече...</a>
        </section>
    </div>
</section>
{% include btn-up.html %}