<section class="subscribe-info">
    <hr class="common-hr">
    <div class="heading">
        <i class="fas fa-calendar-alt"></i>
        <h4>Абонамент</h4>
    </div>
    <p class="text" style="text-indent:5%; line-height: 1.5"> Адвокатската кантора предоставя високо квалифицирано правно обслужване на български и чуждестранни физически и юридически лица, срещу месечно абонаментно възнаграждение. При абонаментното правно обслужване, клиентите заплащат ежемесечно предварително
        договорен обем от работа, който адвокатът ще извършва. В случаите, в които се налагат правни услуги като например явяване на дело или заявяване на искова молба за такова, клиентите не заплащат нищо освен договорената ежемесечна сума. По този начин
        адвокатът е много по-полезен за клиентите, защото той познава от близо дейността на организацията и неговото обслужване е пълноценно и навременно. Клиентите, които са на абонамент в адвокатската кантора се обслужват с предимство пред всички останали.
        По този начин Вие получавате квалифицирана правна помощ на ниска цена.</p>
    <hr class="common-hr">
    <section class="image-container-subscription">
        <img src="{{ site.url }}/images/sub.jpg" alt="image" class="image-subscription">
    </section>
    <hr class="common-hr">
    <div class="heading">
        <h4 class="subscribe-h4">Абонаментното правно обслужване осигурява:</h4>
    </div>
    <hr class="common-hr">
    <ul>
        <li><i class="fas fa-check-circle"></i>Оптимална правна защита и съдействие, предвид специфичните особености на извършваните от него дейности;</li>
        <li><i class="fas fa-check-circle"></i>Изграждане на цялостна и дългосрочна правна концепция за неговото развитие и за оптимизиране на дейността му;</li>
        <li><i class="fas fa-check-circle"></i>Фиксирана месечна такса за определен и предварително договорен обем правни услуги;</li>
        <li><i class="fas fa-check-circle"></i>Минимални разходи за правни услуги, извършвани от квалифициран адвокат;</li>
        <li><i class="fas fa-check-circle"></i>Решения, съобразени с индивидуалните особеностите и спецификата на извършваната търговска дейност;</li>
        <li><i class="fas fa-check-circle"></i>Специално внимание и обслужване с предимство пред всички останали клиенти;</li>
        <li><i class="fas fa-check-circle"></i>Минимален размер на адвокатското възнаграждение за всички услуги, които не са включени в договора за абонаментно обслужване;</li>
        <li><i class="fas fa-check-circle"></i>Готовност за максимално бързо и оптимално решение на всички въпроси;</li>
        <li><i class="fas fa-check-circle"></i>Постоянно и неотложно правно обслужване на клиента, изцяло съобразено с нуждите му и възникналите проблеми при упражняване на дейността му.</li>
        <li><i class="fas fa-check-circle"></i>Непрекъсната и ежедневна правна помощ;</li>
    </ul>
</section>