.map-responsive {
    margin: 3em 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    box-shadow: 0 0 1rem 0 rgba(black, 0.4);
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}