@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
* {
  padding: 0;
  margin: 0; }
  *:before, *:after {
    box-sizing: inherit; }

html {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font: 20px/1.5 'Lato', sans-serif; }

body {
  font: inherit; }

header,
main {
  width: 85vw; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0, 0, 0.5em 0;
  padding: 0; }

h1 {
  font-size: 3em;
  font-weight: normal; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.9em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

li {
  list-style: none; }

a {
  text-decoration: none; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 14px; } }

@media only screen and (min-width: 800px) {
  html {
    font-size: 16px; } }

@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px; } }

@media only screen and (min-width: 1920px) {
  html {
    font-size: 20px; } }

body {
  background: #120807;
  width: 100vw;
  color: #f7f1ee;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; }
  body .site-content {
    padding-top: 1.5em; }

main.site-content {
  background: #f7f1ee;
  color: #120807; }
  main.site-content #text {
    text-indent: 5%;
    line-height: 1.5; }

hr.common-hr {
  width: 10%;
  margin: 2.5em;
  border: 2px solid #8B0000;
  border-radius: 0.5rem;
  margin: 2.5em auto;
  outline: none; }

@media only screen and (max-width: 700px) {
  hr.common-hr {
    width: 20%; }
  body {
    padding-top: 0; } }

@media only screen and (max-width: 1100px) {
  body > header.site-header,
  body > main,
  body > footer.site-footer {
    width: 100vw;
    overflow: hidden; }
  body {
    padding-top: 0; } }

@media only screen and (min-width: 1100px) {
  body > header.site-header,
  body > main,
  body > footer.site-footer {
    width: 85vw;
    overflow: hidden; } }

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  body {
    font: inherit; }
  #menu > li > a {
    padding: 1.5rem; } }

button,
.button,
input[type="submit"] {
  display: inline-block;
  padding: 0.5em, 1em;
  border: none;
  border-radius: 0.3em;
  text-decoration: none;
  cursor: pointer;
  color: #f7f1ee;
  text-align: center; }

@media (max-width: 700px) {
  button,
  .button,
  input[type="submit"] {
    width: 100%; } }

@media (max-width: 1024px) {
  button,
  .button,
  input[type="submit"] {
    padding: 1.5rem, 1.5rem; } }

/* section advert */
.advert {
  background-color: #f7f1ee;
  padding: 1em 3em 3em 3em;
  color: #120807;
  display: flex;
  flex-direction: column; }
  .advert .advert-heading {
    text-align: center; }
    .advert .advert-heading h6 {
      margin-bottom: 2.5em; }
  .advert .consultation {
    width: 100%; }
    .advert .consultation .button-main {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.5em; }
      .advert .consultation .button-main a {
        background: #954037;
        color: #f7f1ee;
        padding: 0.5em; }
        .advert .consultation .button-main a.button:hover, .advert .consultation .button-main a.button:focus {
          background: #8B0000; }
    .advert .consultation p {
      text-indent: 5%;
      line-height: 1.5; }
  .advert .lawyers-job {
    display: block;
    margin: 0 0 3em 0; }
    .advert .lawyers-job .lawyers-job-info h6 {
      margin: 0 auto;
      margin-bottom: 2.5em; }
    .advert .lawyers-job .lawyers-job-info .advert-main-text {
      display: flex;
      align-items: center; }
      .advert .lawyers-job .lawyers-job-info .advert-main-text ul li {
        display: flex;
        align-items: center;
        margin-bottom: 1em; }
        .advert .lawyers-job .lawyers-job-info .advert-main-text ul li i {
          color: #120807;
          margin-right: 1em; }
    .advert .lawyers-job .image-first-page {
      height: 300px;
      width: 200px;
      overflow: hidden;
      position: relative;
      margin: 0 2em; }
      .advert .lawyers-job .image-first-page:before {
        display: block;
        content: "";
        padding-top: 25%; }
      .advert .lawyers-job .image-first-page img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }

@media only screen and (max-width: 800px) {
  .button-main {
    margin-top: 2em; }
  .lawyers-job-info .advert-main-text {
    flex-direction: column; }
    .lawyers-job-info .advert-main-text .image-first-page {
      margin: 0 auto 2em auto; } }

@media only screen and (min-width: 800px) {
  .lawyers-job-info .advert-main-text {
    flex-direction: row; } }

.site-image-container-first,
.site-image-container-other {
  width: 100%;
  display: flex;
  justify-content: center; }

.site-image-container-first {
  height: 28em; }

.site-image-container-other {
  height: 19em; }

.services-head,
.services-main {
  background: #f7f1ee;
  color: #120807; }

.services-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .services-head .heading {
    margin-bottom: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center; }
    .services-head .heading i {
      margin-right: 1em; }
  .services-head hr {
    margin-bottom: 2.5em;
    margin-top: 3em; }
  .services-head p {
    margin: 0 3em; }

.services-main {
  padding: 3.5em 2em;
  display: grid;
  grid-gap: 3em;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 22vw 22vw 22vw;
  justify-content: center;
  border: none; }
  .services-main .service {
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5em; }
    .services-main .service .service-img-container {
      overflow: hidden;
      position: relative;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem; }
      .services-main .service .service-img-container:before {
        display: block;
        content: "";
        padding-top: 56.25%; }
      .services-main .service .service-img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
        height: auto; }
    .services-main .service .service-text {
      text-align: center; }
      .services-main .service .service-text h6 {
        padding: 1em; }
    .services-main .service > a {
      text-align: center;
      margin: 1em auto;
      background: #954037;
      border-radius: 0.3rem;
      padding: 0.5rem 1rem;
      color: #f7f1ee;
      text-decoration: none;
      margin-bottom: 2em;
      line-height: 1.5;
      box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.5);
      outline: none; }
      .services-main .service > a:hover, .services-main .service > a:focus {
        background: #8B0000; }

/* efect */
.img-inner-shadow .layer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.img-inner-shadow:hover .layer {
  box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.9); }

.img-inner-shadow .layer {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out; }

.img-inner-shadow:hover .layer {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out; }

@media only screen and (max-width: 800px) {
  .services-head {
    padding: 0 2em 2em 2em; }
    .services-head p {
      margin-left: 0;
      margin-right: 0; }
  .services-main {
    padding: 1em 2em 2em 2em;
    display: block; }
    .services-main .service {
      margin-bottom: 2em; }
      .services-main .service .service-btn a {
        line-height: 2;
        padding: 1em 1.5em; } }

@media only screen and (min-width: 800px) and (max-width: 1300px) {
  .services-main {
    padding: 3.5em 2em;
    grid-gap: 6em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30vw 30vw; }
    .services-main .service-btn {
      padding-top: 0; } }

.law-content {
  background: #f7f1ee;
  padding: 3em;
  color: #120807; }
  .law-content h3 {
    color: #954037; }
  .law-content .heading-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5em; }
  .law-content .heading-small {
    text-align: center;
    margin-bottom: 2.5em; }
  .law-content ul .sub-service {
    display: flex;
    margin-bottom: 1em; }
    .law-content ul .sub-service i {
      margin-right: 0.8em; }
  .law-content a.button {
    background: #954037;
    margin: 3em auto;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.5);
    outline: none; }
    .law-content a.button:hover, .law-content a.button:focus {
      background: #8B0000; }

.prices {
  background: #f7f1ee;
  color: #120807;
  padding: 0 3rem 3rem 3rem;
  text-indent: 5%; }
  .prices .heading {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap; }
    .prices .heading i {
      margin-right: 1em;
      font-size: 1.5em; }
    .prices .heading h4 {
      margin-bottom: 2.5em; }
  .prices p {
    line-height: 1.5;
    text-indent: 5%; }
    .prices p .link {
      text-decoration: none;
      color: #8B0000; }

@media only screen and (max-width: 800px) {
  #nav {
    height: auto; } }

@media only screen and (min-width: 800px) {
  #nav {
    height: auto; } }

.subscribe-info {
  background: #F7F1EE;
  color: #120807;
  padding: 0 5rem 3rem 5rem;
  text-align: center;
  text-indent: 5%; }
  .subscribe-info > .heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 2.5em; }
    .subscribe-info > .heading i {
      margin-right: 1em;
      font-size: 1.5em;
      align-self: center; }
    .subscribe-info > .heading .subscribe-h4 {
      width: 100%; }
  .subscribe-info p {
    text-indent: 5%;
    line-height: 1.5; }
  .subscribe-info .image-container-subscription {
    margin: 3em auto;
    overflow: hidden;
    position: relative; }
    .subscribe-info .image-container-subscription::before {
      display: block;
      content: '';
      padding-top: 56.25%; }
    .subscribe-info .image-container-subscription .image-subscription {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      height: auto; }
  .subscribe-info ul {
    text-indent: 0;
    list-style-type: none;
    text-align: left; }
    .subscribe-info ul li {
      text-indent: 0;
      margin-bottom: 0.5rem;
      font-weight: bold;
      margin-bottom: 2em; }
      .subscribe-info ul li i {
        margin-right: 1rem;
        font-size: 1.2em;
        color: #BC5449; }

@media only screen and (max-width: 800px) {
  .subscribe-info {
    padding: 3rem 1rem; }
    .subscribe-info .image-container-subscription {
      height: 35vh; } }

@media only screen and (max-width: 1040px) {
  .image-container-subscription {
    height: 45vw; } }

#return-to-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 7.5vw;
  z-index: 99;
  font-size: 3.5em;
  border: none;
  outline: none;
  background-color: #BC5449;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.1rem;
  overflow: hidden;
  height: 1em;
  width: 1em; }
  #return-to-top i {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    outline: none;
    font-size: 0.6em;
    color: #e3b9b5; }
    #return-to-top i:hover, #return-to-top i:focus {
      color: #120807; }

@media only screen and (max-width: 274px) {
  #return-to-top {
    bottom: 3rem;
    right: 0.5rem; } }

@media only screen and (min-width: 274px) and (max-width: 1100px) {
  #return-to-top {
    bottom: 0.8rem;
    right: 0.8rem; } }

@media only screen and (min-width: 1100px) and (max-width: 1320px) {
  #return-to-top {
    bottom: 1rem;
    right: 1.5rem; } }

@media only screen and (min-width: 1320px) {
  #return-to-top {
    bottom: 1.5rem;
    right: 1.5rem; } }

.top {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BC5449;
  padding: 2em 3em;
  border-top: 2px solid #f7f1ee; }
  .top .left,
  .top .right {
    display: flex;
    justify-content: center;
    align-items: center; }
  .top .left .icon {
    border-radius: 50%;
    background: #25100e;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em; }
    .top .left .icon i {
      font-size: 1.8em; }
  .top .left .presentation h1 {
    font-size: 2em;
    font-weight: normal; }
    .top .left .presentation h1 a {
      color: #f7f1ee;
      text-decoration: none; }
  .top .left .presentation P {
    color: #e3b9b5;
    font-size: 1.5em; }
  .top .right .icon-phone i {
    font-size: 2em;
    margin-right: 0.5em;
    color: #25100e; }
  .top .right .content-phone p:first-child {
    color: #25100e;
    margin-bottom: 0.1em; }

.nav {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent; }
  .nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border-right: 2px solid #120807;
    background: #25100e;
    opacity: 0;
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .nav ul a {
      display: block;
      height: 100%;
      padding: 1.7rem;
      color: #f7f1ee;
      text-decoration: none; }
      .nav ul a:hover, .nav ul a:focus {
        background: #954037; }

.active {
  background: #954037 !important; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@media only screen and (max-width: 274px) {
  header {
    font: inherit; }
    header .top {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em; }
      header .top .right {
        margin: 3em 0.2rem; }
      header .top .left {
        margin-top: 2em; }
        header .top .left .icon {
          display: none; }
        header .top .left .presentation {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          header .top .left .presentation h1 {
            text-align: center; }
  .site-image-container-other,
  .site-image-container-first {
    height: auto; }
  .nav ul {
    flex-direction: column;
    background-color: rgba(37, 16, 14, 0.8);
    border-bottom: 1px dotted #e3b9b5; }
    .nav ul li {
      text-align: center;
      width: 100vw;
      border-bottom: 0.5px dotted font-color-dark;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav ul li a {
        display: block;
        width: 100%;
        outline: none;
        padding: 1rem;
        color: #f7f1ee; }
        .nav ul li a:hover, .nav ul li a:focus {
          background: rgba(149, 64, 55, 0.8); }
      .nav ul li a.selected {
        background: rgba(149, 64, 55, 0.8); } }

@media only screen and (min-width: 274px) and (max-width: 800px) {
  .site-image-container-other,
  .site-image-container-first {
    height: auto; }
  header {
    font: inherit; }
    header .top {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 1em 2em; }
      header .top .right {
        margin: 3em 0.1rem; }
      header .top .left {
        margin-top: 2em; }
        header .top .left .icon {
          height: 3em;
          width: 3em;
          margin-right: 1em; }
        header .top .left .presentation {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          header .top .left .presentation h1 {
            text-align: center; }
    header .nav ul {
      flex-direction: column;
      background-color: rgba(37, 16, 14, 0.8);
      border-bottom: 1px dotted #e3b9b5; }
      header .nav ul li {
        text-align: center;
        width: 100vw;
        border-bottom: 0.5px dotted font-color-dark;
        display: flex;
        justify-content: center;
        align-items: center; }
        header .nav ul li a {
          display: block;
          width: 100%;
          outline: none;
          padding: 1rem;
          color: #f7f1ee; }
          header .nav ul li a:hover, header .nav ul li a:focus {
            background: rgba(149, 64, 55, 0.8); }
        header .nav ul li a.selected {
          background: rgba(149, 64, 55, 0.8); } }

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  body {
    font: inherit; }
  #menu li a {
    padding: 1.5rem; } }

.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .site-footer > .main-footer {
    padding: 3em;
    background: #25100e;
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    border-radius: 0.2rem; }
    .site-footer > .main-footer ul {
      color: #f7f1ee;
      list-style-type: none; }
      .site-footer > .main-footer ul li {
        margin-bottom: 0.7em;
        color: #e3b9b5;
        text-decoration: none; }
        .site-footer > .main-footer ul li a,
        .site-footer > .main-footer ul li i {
          color: #e3b9b5;
          text-decoration: none; }
        .site-footer > .main-footer ul li i {
          font-size: 1.5em; }
    .site-footer > .main-footer .location,
    .site-footer > .main-footer .navigation {
      margin-right: 2em; }
    .site-footer > .main-footer .location {
      margin-left: 3em; }
    .site-footer > .main-footer .follow-me {
      margin-right: 3em; }

.main-footer ul li:first-child {
  margin-top: 2em; }

.location li {
  display: flex;
  align-items: center; }

.location li i {
  margin-right: 0.7em; }

/* third colomn social networks */
.follow-me a {
  display: flex;
  align-items: center; }

.follow-me i {
  margin-right: 0.7em; }

/* hover efects */
.main-footer li a:hover,
.main-footer li a:focus,
.main-footer .follow-me a:hover i,
.main-footer .follow-me a:focus i {
  color: #f7f1ee; }

/* bottom footer */
.creator {
  background: #120807;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e3b9b5;
  font-size: 0.8em; }

@media only screen and (max-width: 400px) {
  footer .creator {
    height: 5em;
    text-align: center; }
  footer .follow-me,
  footer .location,
  footer .navigation {
    margin: 3em; } }

@media only screen and (min-width: 400px) and (max-width: 700px) {
  footer .main-footer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .main-footer .follow-me,
    footer .main-footer .location,
    footer .main-footer .navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin: 3em; } }

@media only screen and (min-width: 700px) and (max-width: 800px) {
  .main-footer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: baseline; }
    .main-footer .follow-me {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3em; }
    .main-footer .navigation {
      margin-right: 3em; } }

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .site-footer .main-footer {
    width: 100vw;
    flex-direction: column;
    flex-flow: wrap;
    align-items: flex-start;
    padding: 2em; }
    .site-footer .main-footer .follow-me,
    .site-footer .main-footer .location,
    .site-footer .main-footer .navigation {
      margin: 2em;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-around; }
      .site-footer .main-footer .follow-me li,
      .site-footer .main-footer .location li,
      .site-footer .main-footer .navigation li {
        margin-bottom: 1.5em; }
    .site-footer .main-footer .location > ul > li:nth-child(1) > section {
      text-align: left; }
  .site-footer .creator {
    height: 3em;
    text-align: center;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em; } }

@media only screen and (min-width: 1100px) and (max-width: 1920px) {
  footer .main-footer {
    width: 85vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around; }
  footer .location,
  footer .navigation,
  footer .follow-me {
    margin: 1em; } }

@media only screen and (min-width: 1920px) {
  .main-footer {
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding: 0 5em; }
  .location {
    margin-left: 3em; }
  .navigation {
    margin-right: 3em; } }

fieldset,
form,
textarea,
input,
.or h3,
.contacts-container .contacts {
  font: inherit;
  color: #120807;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.heading {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap; }
  .heading i {
    margin-right: 1em;
    font-size: 1.5em; }

.contacts-container {
  width: 100%;
  background: #f7f1ee;
  padding: 2.5em 0; }

.contacts-container .contacts ul {
  list-style-type: none;
  margin-top: 2em; }

.contacts-container .contacts li {
  display: flex;
  align-items: center;
  margin-bottom: 2em; }

.contacts-container .contacts li i {
  margin-right: 1em;
  font-size: 1.5em; }

/* form container */
.contacts-container > section:nth-child(3) {
  margin: 3em 2em;
  display: flex;
  justify-content: space-between; }

.contacts-text {
  color: #120807;
  padding: 3rem; }

.form-container,
input,
textarea,
label {
  font: 18px/1.5/'Lato', sans-serif;
  overflow: hidden; }

.contacts-text > p {
  text-align: center;
  margin: 0 5%; }

/* form and working time */
form,
section.working-time {
  width: 40%;
  color: #120807; }

.working-time {
  display: flex;
  flex-direction: column; }

fieldset {
  width: 100%; }

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%; }

fieldset p {
  margin-bottom: 0.5em; }

fieldset .field-input {
  margin-bottom: 1.5em; }

fieldset p {
  width: 100%;
  margin-bottom: 1rem; }

fieldset input {
  padding: 0.3rem 1rem; }

div.field-input {
  border-radius: 0.2rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border: 1px solid #120807;
  margin-bottom: 1rem; }

div.field-input i {
  margin: 0 0.5rem; }

div.field-input input {
  padding-right: 1.5rem;
  border: none;
  outline: none;
  border-left: 1px solid #120807;
  border-top: transparent;
  border-bottom: transparent;
  width: 100%;
  padding-left: 0.5em; }

.contacts-container hr {
  border: 2px solid #8B0000;
  width: 20%;
  margin: 0 auto;
  outline: none;
  margin-bottom: 2.5em; }

.contacts-container .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contacts-container .contacts hr,
.contacts-container .contacts-text hr {
  width: 10%; }

.working-time > h3 {
  margin: 0 auto 1.5em auto; }

form div.heading {
  margin: 0 auto 1.5em auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.working-time > .date-hours {
  border-bottom: 1px solid #120807;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.working-time span:first-child {
  font-weight: bold; }

.working-time span {
  margin: 1.8em 1em 1.8em 0; }

form > fieldset > p:nth-child(13) > textarea {
  width: 100%;
  margin-bottom: 0.5em;
  margin-top: 2rem;
  border: 1px solid #120807;
  border-radius: 0.2rem;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
  font: inherit;
  overflow: hidden;
  padding-top: 0.5rem; }

form > fieldset > p:nth-child(13) > textarea:hover,
form > fieldset > p:nth-child(13) > textarea:focus {
  border: 1px solid #8B0000; }

/* hover efect: */
fieldset > div.field-input:hover,
fieldset > div.field-input:focus,
fieldset > div.field-input:hover i,
fieldset > div.field-input:focus i,
fieldset > div.field-input > input:hover,
fieldset > div.field-input > input:focus,
textarea:hover,
textarea:focus {
  border-color: #8B0000; }

fieldset > div.field-input:hover i,
fieldset > div.field-input:focus i {
  color: #8B0000; }

/* button submit*/
input[type="submit"] {
  width: 100%;
  margin-top: 2rem;
  background: #8B0000;
  outline: none;
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  -moz-appearance: none;
  -webkit-appearance: none; }

input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #120807; }

.or {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em; }

.or i {
  color: #120807;
  margin-top: 2rem;
  font-size: 2em; }

@media only screen and (max-width: 330px) {
  .date-hours {
    flex-direction: column; } }

@media only screen and (max-width: 800px) {
  .contacts-container {
    padding: 3rem 1rem; }
  .contacts-text {
    display: block; } }

@media only screen and (max-width: 1200px) {
  body {
    padding-top: 0; }
  .form-container {
    margin-right: 2rem;
    margin-left: 2rem; }
  .form-container form {
    margin-bottom: 3rem;
    justify-content: space-between; }
  .form-container form,
  .form-container .working-time {
    width: 100%; }
  #nav {
    height: auto; } }

@media only screen and (min-width: 1200px) {
  .form-container form {
    margin-bottom: 3rem; }
  .form-container {
    display: flex;
    flex-direction: row; }
  #nav {
    height: auto; } }

.single-article {
  padding: 0 2.5em 2.5em 2.5em; }
  .single-article .article-part {
    margin: 1em auto; }
  .single-article .featimg-post {
    width: 40%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border: 0.2em solid #120807;
    height: auto;
    margin: 0 2.5em 2.5em 0;
    float: left; }
  .single-article .article-author {
    clear: both;
    text-align: right;
    margin: 1.5em 0;
    font-style: italic; }
  .single-article .article-button {
    background: #954037;
    padding: 0.5rem 1rem;
    margin: 2em auto 0 auto;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5); }
    .single-article .article-button:hover, .single-article .article-button:focus {
      background: #8B0000; }
  .single-article .blog-heading {
    margin: 2.5em auto; }
  .single-article p {
    text-indent: 5%;
    line-height: 1.5; }

@media only screen and (max-width: 800px) {
  .single-article .featimg-post {
    float: none;
    width: 100%;
    height: auto; } }

@media only screen and (max-width: 1200px) {
  .single-article > .featimg-post {
    margin: 0 2rem 2rem 0; } }

.map-responsive {
  margin: 3em;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4); }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.articles-container-outer {
  background: #f7f1ee;
  color: #120807;
  padding: 0 5em 3em 5em; }
  .articles-container-outer .heading-blog {
    display: flex;
    justify-content: center;
    align-items: center; }
    .articles-container-outer .heading-blog i {
      margin-right: 1em;
      font-size: 1.5em; }
  .articles-container-outer .articles-container-inner {
    padding-top: 2.5em; }
    .articles-container-outer .articles-container-inner .article-blog {
      background: #ffffff;
      box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.4);
      padding: 2em 3em; }
      .articles-container-outer .articles-container-inner .article-blog > h3 {
        margin: 0.5em 0 0.5em 0;
        color: #954037; }
      .articles-container-outer .articles-container-inner .article-blog > p {
        font-style: italic;
        margin-bottom: 2em;
        color: #25100e; }
      .articles-container-outer .articles-container-inner .article-blog .post-partly-content {
        text-indent: 5%;
        margin-bottom: 2.5em; }
        .articles-container-outer .articles-container-inner .article-blog .post-partly-content p {
          text-indent: 5%;
          line-height: 1.5; }
      .articles-container-outer .articles-container-inner .article-blog .button-blog a {
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
        background: #954037;
        padding: 0.5rem 1rem; }
        .articles-container-outer .articles-container-inner .article-blog .button-blog a:hover, .articles-container-outer .articles-container-inner .article-blog .button-blog a:focus {
          background: #8B0000; }
      .articles-container-outer .articles-container-inner .article-blog .img-post-container {
        width: 50%;
        overflow: hidden;
        position: relative;
        border: 0.2em solid #120807;
        box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.5);
        margin-bottom: 2.5em;
        outline: 1px solid #120807; }
      .articles-container-outer .articles-container-inner .article-blog .img-post-container:before {
        display: block;
        content: "";
        padding-top: 56.25%;
        position: relative; }
      .articles-container-outer .articles-container-inner .article-blog .img-post-container img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }

@media only screen and (max-width: 800px) {
  .img-post-container {
    width: 100%; }
  .articles-container-outer {
    padding: 3em 2em; }
  .button-blog {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .img-post-container {
    width: 75%; } }

.error-page-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .error-page-content .error-heading,
  .error-page-content .err {
    font-size: 3em; }
  .error-page-content .err {
    display: flex; }
    .error-page-content .err i {
      margin-right: 0.5em; }
  .error-page-content .error-message {
    font-size: 2em; }
  .error-page-content .error-page-content a {
    margin-bottom: 2em; }
