.error-page-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .error-heading,
    .err {
        font-size: 3em;
    }
    .err {
        display: flex;
        i {
            margin-right: 0.5em;
        }
    }
    .error-message {
        font-size: 2em;
    }
    .error-page-content {
        a {
            margin-bottom: 2em;
        }
    }
}