<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    <header class="site-header">
        {% include header-unmain.html %}
    </header>
    <main class="site-content">
        <div class="articles-container-outer" style="padding-top:0">
            <div class="common-hr"></div>
            <div class="heading-blog">
                <i class="fas fa-newspaper"></i>
                <h4>Статии</h4>
            </div>
            <div class="articles-container-inner">
                {% for post in site.posts %}
                <article class="article-blog">
                    <h3>{{ post.title }}</h3>
                    <p>Автор - Светломир Иванов</p>
                    {% if post.featimg %}
                    <div class="img-post-container">
                        <img class="featimg" src="{{ site.url }}{{ post.featimg }}" alt="{{ post.featimg }}">
                    </div> {% endif %}
                    <div class="post-partly-content" style="text-indent:5%; line-height: 1.5">
                        {{ post.excerpt | truncate: 400 }}
                    </div>
                    <div class="button-blog">
                        <a href="{{ site.url }}{{ post.url }}" class="button">Прочети статията</a>
                    </div>
                </article>
                <div class="common-hr"></div> {% endfor %}
            </div>
        </div>
    </main>
    <footer class="site-footer">
        {% include footer.html %}
    </footer>
    {% include btn-up.html %}
    <script>
        startpage();
    </script>
</body>

</html>