.articles-container-outer {
    background: $font-color-light;
    color: $frame-color-dark;
    padding: 0em 5em 3em 5em;
    .heading-blog {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5em;
        >i {
            margin-right: 1em;
            font-size: 1.5em;
        }
    }
    .articles-container-inner {
        article {
            background: #ffffff;
            box-shadow: 0 0 0.5rem 0 rgba(black, 0.5);
            padding: 2rem;
            p {
                font-style: italic;
                margin-bottom: 2em;
                color: $frame-color-light;
            }
            h3 {
                margin: 0.5em 0 0.5em 0;
                color: $items-color;
            }
            .img-post-container {
                width: 50%;
                overflow: hidden;
                position: relative;
                border: 0.2em solid $frame-color-dark;
                box-shadow: 0 0 0.8rem 0 rgba(black, 0.5);
                margin-bottom: 2.5em;
                outline: 1px solid $frame-color-dark;
                &:before {
                    display: block;
                    content: "";
                    padding-top: 56.25%;
                    position: relative;
                }
                .featimg {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .post-partly-content {
                text-indent: 5%;
                margin-bottom: 2.5em;
            }
            .button-blog {
                a {
                    box-shadow: 0 0 0.5rem 0 rgba(black, 0.5);
                }
            }
        }
    }
}

@media only screen and (max-width:$phones-l) {
    .img-post-container {
        width: 100%;
    }
    .articles-container-outer {
        padding: 3em 2em;
    }
    .button-blog {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:$phones-l) and (max-width:$tablets-m) {
    .img-post-container {
        width: 75%;
    }
}