button,
.button,
input[type="submit"] {
    display: inline-block;
    padding: 0.5em, 1em;
    border: none;
    border-radius: 0.3em;
    text-decoration: none;
    cursor: pointer;
    color: $font-color-light;
    text-align: center;
}

@media (max-width:700px) {
    button,
    .button,
    input[type="submit"] {
        width: 100%;
    }
}

@media (max-width:1024px) {
    button,
    .button,
    input[type="submit"] {
        padding: 1.5rem, 1.5rem;
    }
}