#return-to-top {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 7.5vw;
    z-index: 99;
    font-size: 3.5em;
    border: none;
    outline: none;
    background-color: $contrast-color;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.1rem;
    overflow: hidden;
    height: 1em;
    width: 1em;
    i {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        outline: none;
        font-size: 0.6em;
        color: $font-color-dark;
        &:hover {
            color: $frame-color-dark;
        }
    }
}

@media only screen and (max-width:274px) {
    #return-to-top {
        bottom: 0.5rem;
        right: 0;
    }
}

@media only screen and (max-width:1110px) {
    #return-to-top {
        bottom: 0.8rem;
        right: 0.8rem;
    }
}

@media only screen and (min-width:1110px) {
    #return-to-top {
        bottom: 1rem;
        right: 1.5rem;
    }
}

@media only screen and (max-width:1320px) {
    #return-to-top {
        bottom: 1.1rem;
        right: 1.1rem;
    }
}

@media only screen and (max-width:1920px) {
    #return-to-top {
        bottom: 1.2rem;
        right: 1.2rem;
    }
}