fieldset,
form,
textarea,
input,
.or h3 {
    font: inherit;
    color: $frame-color-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-container {
    font: inherit;
    color: $frame-color-dark;
    width: 100%;
    background: $font-color-light;
    padding: 0 5rem 3rem 5rem;
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heading {
            display: flex;
            justify-content: center;
            align-items: baseline;
            flex-wrap: wrap;
            i {
                margin-right: 1em;
                font-size: 1.5em;
            }
        }
        ul {
            list-style-type: none;
            margin-top: 2em;
        }
        li {
            display: flex;
            align-items: center;
            margin-bottom: 2em;
            >i {
                margin-right: 1em;
                font-size: 1.5em;
            }
        }
        hr {
            width: 10%;
        }
    }
    .contacts-text {
        color: $frame-color-dark;
        padding: 0 3rem 3rem 3rem;
        p {
            font: inherit;
            text-align: center;
            margin: 0 5%;
        }
        hr {
            width: 10%;
        }
    }
    .form-container {
        font: inherit;
        overflow: hidden;
        margin: 3em 2em;
        display: flex;
        justify-content: space-between;
        form {
            width: 40%;
            color: $frame-color-dark;
            .heading {
                margin: 1.5em auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            fieldset {
                width: 100%;
                border: none;
                display: flex;
                flex-direction: column;
                width: 100%;
                p {
                    width: 100%;
                    margin-bottom: 1rem;
                }
                .text-area-par {
                    textarea {
                        font: inherit;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: 0.5em;
                        max-width: 100%;
                        margin-top: 2rem;
                        padding: 0.5rem;
                        border: 1px solid $frame-color-dark;
                        border-radius: 0.2rem;
                        overflow: auto;
                        outline: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        resize: none;
                        font: 18px/1.5/'Lato', sans-serif;
                        &:focus,
                        &:hover {
                            border: 2px solid $red;
                        }
                    }
                }
                .field-input {
                    border-radius: 0.2rem;
                    overflow: hidden;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    border: 1px solid $frame-color-dark;
                    margin-bottom: 1rem;
                    >i {
                        margin: 0 0.5rem;
                    }
                    >input {
                        font: inherit;
                        padding-right: 1rem;
                        border: none;
                        outline: none;
                        border-left: 1px solid $frame-color-dark;
                        border-top: transparent;
                        border-bottom: transparent;
                        width: 100%;
                        padding-left: 0.5em;
                    }
                }
                input[type="submit"] {
                    font: inherit;
                    padding: 0.3rem 1rem;
                    width: 100%;
                    margin-top: 2rem;
                    background: $red;
                    outline: none;
                    padding: 1rem;
                    border-radius: 0.2rem;
                    box-shadow: 0 0 0.2rem 0 rgba(black, 0.5);
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    &:hover,
                    &:focus {
                        background: black;
                    }
                }
            }
        }
        .working-time {
            width: 40%;
            color: $frame-color-dark;
            display: flex;
            flex-direction: column;
            h3 {
                margin: 0 auto 1.5em auto;
            }
            .date-hours {
                border-bottom: 1px solid $frame-color-dark;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            span {
                margin: 1.8em 1em 1.8em 0;
                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
    .or {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        i {
            color: $frame-color-dark;
            margin-top: 2rem;
            font-size: 2em;
        }
    }
}


/* hover efect: */

fieldset>div.field-input:hover,
fieldset>div.field-input:focus,
fieldset>div.field-input:hover i,
fieldset>div.field-input:focus i,
fieldset>div.field-input>input:hover,
fieldset>div.field-input>input:focus {
    border: 2px solid $red;
}


/* button submit*/

@media only screen and(max-width:330px) {
    .date-hours {
        flex-direction: column;
    }
}

@media only screen and (max-width:$phones-l) {
    .contacts-container {
        padding: 3rem 1rem;
    }
    .contacts-text {
        display: block;
    }
}

@media only screen and (max-width:$tablets-m) {
    body {
        padding-top: 0;
    }
    .form-container {
        margin-right: 2rem;
        margin-left: 2rem;
        form {
            margin-bottom: 3rem;
            justify-content: space-between;
            width: 100%;
        }
        .working-time {
            width: 100%;
        }
    }
    #nav {
        height: auto;
    }
}

@media only screen and (min-width:$tablets-m) {
    .form-container {
        display: flex;
        flex-direction: row;
        form {
            margin-bottom: 3rem;
        }
    }
    #nav {
        height: auto;
    }
}