@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
fieldset,
form,
textarea,
input,
.or h3,
.contacts-container .contacts {
    font: inherit;
    color: var(--frame-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.heading i {
    margin-right: 1em;
    font-size: 1.5em;
}

.contacts-container {
    width: 100%;
    background: var(--font-color-light);
    padding: 0 5rem 3rem 5rem;
}

.contacts-container .contacts ul {
    list-style-type: none;
    margin-top: 2em;
}

.contacts-container .contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.contacts-container .contacts li i {
    margin-right: 1em;
    font-size: 1.5em;
}


/* form container */

.contacts-container>section:nth-child(3) {
    margin: 3em 2em;
    display: flex;
    justify-content: space-between;
}

.contacts-text {
    color: var(--frame-color-dark);
    padding: 3rem;
}

.form-container,
input,
textarea,
label {
    font: 18px/1.5/'Lato', sans-serif;
    overflow: hidden;
}

.contacts-text>p {
    text-align: center;
    margin: 0 5%;
}


/* form and working time */

form,
section.working-time {
    width: 40%;
    color: var(--frame-color-dark);
}

.working-time {
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 100%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

fieldset p {
    margin-bottom: 0.5em;
}

fieldset .field-input {
    margin-bottom: 1.5em;
}

fieldset p {
    width: 100%;
    margin-bottom: 1rem;
}

main>section.contacts-container>section:nth-child(2)>p {
    font-size: inherit;
}

fieldset input {
    padding: 0.3rem 1rem;
}

div.field-input {
    border-radius: 0.2rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: 1px solid var(--frame-color-dark);
    margin-bottom: 1rem;
}

div.field-input i {
    margin: 0 0.5rem;
}

div.field-input input {
    padding-right: 1rem;
    border: none;
    outline: none;
    border-left: 1px solid var(--frame-color-dark);
    border-top: transparent;
    border-bottom: transparent;
    width: 100%;
    padding-left: 0.5em;
}

.contacts-container hr {
    border-top: 2px solid var(--color-red);
    border-bottom: 2px solid var(--color-red);
    width: 20%;
    margin: 0 auto;
    outline: none;
    margin-bottom: 2.5em;
}

.contacts-container .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-container .contacts hr,
.contacts-container .contacts-text hr {
    width: 10%;
}

.working-time>h3 {
    margin: 0 auto 1.5em auto;
}

form div.heading {
    margin: 1.5em auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.working-time>.date-hours {
    border-bottom: 1px solid var(--frame-color-dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.working-time span:first-child {
    font-weight: bold;
}

.working-time span {
    margin: 1.8em 1em 1.8em 0;
}

form>fieldset>p:nth-child(13)>textarea {
    width: 100%;
    margin-bottom: 0.5em;
    max-width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
    border: 1px solid var(--frame-color-dark);
    border-radius: 0.2rem;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font: 18px/1.5/'Lato', sans-serif;
}

form>fieldset>p:nth-child(13)>textarea:hover,
form>fieldset>p:nth-child(13)>textarea:focus {
    border: 1px solid var(--color-red);
}


/* hover efect: */

fieldset>div.field-input:hover,
fieldset>div.field-input:focus,
fieldset>div.field-input:hover i,
fieldset>div.field-input:focus i,
fieldset>div.field-input>input:hover,
fieldset>div.field-input>input:focus,
textarea:hover,
textarea:focus {
    border-color: var(--color-red);
}

fieldset>div.field-input:hover i,
fieldset>div.field-input:focus i {
    color: var(--color-red);
}


/* button submit*/

input[type="submit"] {
    width: 100%;
    margin-top: 2rem;
    background: var(--color-red);
    outline: none;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.5);
    -moz-appearance: none;
    -webkit-appearance: none;
}

.or {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.or i {
    color: var(--frame-color-dark);
    margin-top: 2rem;
    font-size: 2em;
}

@media only screen and(max-width:330px) {
    .date-hours {
        flex-direction: column;
    }
}

@media only screen and (max-width:800px) {
    .contacts-container {
        padding: 3rem 1rem;
    }
    .contacts-text {
        display: block;
    }
}

@media only screen and (max-width:1200px) {
    body {
        padding-top: 0;
    }
    .form-container {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .form-container form {
        margin-bottom: 3rem;
        justify-content: space-between;
    }
    .form-container form,
    .form-container .working-time {
        width: 100%;
    }
    #nav {
        height: auto;
    }
}

@media only screen and (min-width:1200px) {
    .form-container form {
        margin-bottom: 3rem;
    }
    .form-container {
        display: flex;
        flex-direction: row;
    }
    #nav {
        height: auto;
    }
}