.main-footer {
    background: $frame-color-light;
    width: 85vw;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 3em 5em;
    border-radius: 0.2rem;
}

.main-footer ul {
    color: $font-color-light;
    list-style-type: none;
}

.main-footer ul li:first-child {
    margin-top: 2em;
}

.main-footer ul li {
    margin-bottom: 0.7em;
}

.main-footer li a,
.main-footer li i,
.main-footer li {
    color: $font-color-dark;
    text-decoration: none;
}

footer i {
    font-size: 1.5em;
}


/* second colomn location */

.location li {
    display: flex;
    align-items: center;
}

.location li i {
    margin-right: 0.7em;
}


/* third colomn social networks */

.follow-me a {
    display: flex;
    align-items: center;
}

.follow-me i {
    margin-right: 0.7em;
}


/* hover efects */

.main-footer li a:hover,
.main-footer li a:focus,
.main-footer .follow-me a:hover i,
.main-footer .follow-me a:focus i {
    color: $font-color-light;
}


/* bottom footer */

.creator {
    background: $frame-color-dark;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $font-color-dark;
    font-size: 0.8em;
}

@media only screen and (min-width:$phones-m) {
    body>header.site-header,
    body>main,
    body>footer.site-footer {
        width: 100vw;
        overflow: hidden;
    }
    footer>section.main-footer {
        width: 100vw;
        flex-direction: row;
    }
}

@media only screen and (max-width:$phones-l) {
    body>header.site-header,
    body>main,
    body>footer.site-footer {
        width: 100vw;
        overflow: hidden;
    }
    footer>section.main-footer {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        padding: 3em 3em 0 3em;
    }
    footer>section.main-footer>section {
        margin: 2em 3em;
        display: flex;
        align-items: center;
        text-align: center;
    }
    section.main-footer>section.location>ul>li:nth-child(1)>section {
        text-align: left;
    }
    .main-footer>section ul li {
        margin-bottom: 1.5em;
    }
    .main-footer>section {
        margin-left: 0;
        margin-right: 0;
    }
    footer .creator {
        height: 3em;
        text-align: center;
        overflow: hidden;
        padding-left: 1em;
        padding-right: 1em;
    }
    body>footer>section.main-footer {
        padding: 2rem 2rem 0 2rem
    }
}

@media only screen and (min-width:$tablets-s) {
    body>header.site-header,
    body>main,
    body>footer.site-footer {
        width: 85vw;
        overflow: hidden;
    }
    footer>section.main-footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        padding: 3em 5em;
    }
}

@media only screen and (min-width:$desktops) {
    body>header.site-header,
    body>main,
    body>footer.site-footer {
        width: 85vw;
        overflow: hidden;
    }
    footer>section.main-footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        padding: 3em 5em;
    }
}