body {
    background: #120807;
    width: 100vw;
    color: $font-color-light;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    .site-content {
        padding-top: 1.5em;
    }
}

main.site-content {
    background: $font-color-light;
    color: $frame-color-dark;
}

hr.common-hr {
    width: 10%;
    margin: 2.5em;
    border: 2px solid $red;
    border-radius: 0.5rem;
    margin: 2.5em auto;
    outline: none;
}

@media only screen and (max-width:$phones-m) {
    hr.common-hr {
        width: 20%;
    }
}

@media only screen and (max-width:$tablets-s) {
    body>header.site-header,
    body>main,
    body>footer.site-footer {
        width: 100vw;
        overflow: hidden;
    }
}

@media only screen and (min-width:$tablets-s) {
    body>header.site-header,
    body>main,
    body>footer.site-footer {
        width: 85vw;
        overflow: hidden;
    }
}

@media only screen and (min-width:$phones-l) and (max-width:$tablets-m) {
    body {
        font: inherit;
    }
    #menu>li>a {
        padding: 1.5rem;
    }
}