@import "typography.scss";
@import "reset.scss";
@import "buttons.scss";
@import "first-page.scss";
@import "site-image.scss";
@import "services.scss";
@import "service.scss";
@import "prices.scss";
@import "subscribe.scss";
@import "button-up.scss";
@import "header.scss";
@import "footer.scss";
@import "contacts.scss";
@import "single.article.scss";
@import "map.scss";
@import "blog.scss";
@import "404.scss";
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
:root {
    --frame-color-dark: #120807;
    --frame-color-light: #25100e;
    --frame-color-light-transperant: rgba(37, 16, 14, 0.8);
    --contrast-color: #BC5449;
    --font-color-light: #f7f1ee;
    --font-color-dark: #e3b9b5;
    --items-color: #954037;
    --items-color-transperant: rgba(149, 64, 55, 0.8);
    --color-section-dark: #4d3925;
    --color-section-light: #ae825d;
    --color-red: #8B0000;
    --color-nice-yellow: #F3B13B;
}

html {
    font: 20px/1.5/'Lato', sans-serif;
}

body {
    background: var(--frame-color-dark);
    width: 100vw;
    color: var(--font-color-light);
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden
}

header,
main {
    width: 85vw;
}

ul>li {
    list-style-type: none;
}

hr.common-hr {
    width: 10%;
    margin: 2.5em;
    border-top: 2px solid var(--color-red);
    border-bottom: 2px solid var(--color-red);
    border-radius: 0.5rem;
    margin: 2.5em auto;
    outline: none;
}

@media only screen and(max-width:800px) {
    hr.common-hr {
        width: 20%;
    }
}