$frame-color-dark: #120807;
$frame-color-light: #25100e;
$frame-color-light-transperant: rgba(37, 16, 14, 0.8);
$contrast-color: #BC5449;
$font-color-light: #f7f1ee;
$font-color-dark: #e3b9b5;
$items-color: #954037;
$items-color-transperant: rgba(149, 64, 55, 0.8);
$color-section-dark: #4d3925;
$color-section-light: #ae825d;
$red: #8B0000;
$color-nice-yellow: #F3B13B;